<div class="brands-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="brand-wrapper">
                    <h2 class="section-title">Brands</h2>
                    <div class="brand-list">
                        <img src="~/img/services_logo__1.jpg" alt="">
                        <img src="~/img/services_logo__2.jpg" alt="">
                        <img src="~/img/services_logo__3.jpg" alt="">
                        <img src="~/img/services_logo__4.jpg" alt="">
                        <img src="~/img/services_logo__1.jpg" alt="">
                        <img src="~/img/services_logo__2.jpg" alt="">
                        <img src="~/img/services_logo__3.jpg" alt="">
                        <img src="~/img/services_logo__4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End brands area -->

